section.about {
    background-color: var(--section-background-color60);
    padding: 9rem 0rem;
    color: var(--accent-color10);
    transition: transform 0.5s ease;
}

section.about div.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

section.about div.container .description h2 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

section.about div.container p {
    padding: 3rem 0rem;
    line-height: 1.7;
}

section.about div.container div.icons {
    display: flex;
    /* flex-wrap: wrap; */
}

section.about div.container div.icons i {
    margin: 2rem 1rem;
    cursor: pointer;
}

/* Mobile */
@media only screen and (max-width: 570px) {

    section.about div.container {
     margin: 0rem 2rem;
     flex-direction: column;
     text-align: center;
    }
    
    section.about div.container p {
        padding: 3rem 0rem;
        line-height: 1.7;
    }

    section.about div.container h2 {
        text-align: center;
    }

    section.about div.container div.icons {
        flex-wrap: wrap;
    }
}

/* Tablet */
@media only screen and (max-width: 768px) { 
    section.about div.container {
        margin: 0rem 2rem;
       }       
}