@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {

    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: normal;
    
}

:root {
    --accent-color10: hsl(193deg, 39%, 43%);
    --section-background-color30: hsl(195deg, 93%, 12%);
    --section-background-color60: hsl(190deg, 30%, 96%);
    --social-icons-color: hsla(193deg, 39%, 43%, 0.7);
    --tags-background-color: hsla(193deg, 39%, 43£%, 0.3);
    --tags-color: hsl(195deg, 93%, 12%);
    --skils-icons-color: hsla(193deg, 39%, 43%, 0.7);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}