/* Base: Mobile first (up to 570px) */

nav.main {
    padding: 1.3rem;
    background-color: var(--section-background-color60);
    transform: translateY(-100%);
    transition: transform 1400ms;
    border-bottom: 1px solid hsl(195, 12%, 94%);
}

div.navbar .shape-fill {
    fill: var(--section-background-color60);
}

div.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

div.wrapper i {
    color: var(--accent-color10);
    display: block;
}

div.wrapper a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    width: 100vw;
    height: 85vh;
    z-index: 1;
    transition: opacity 600ms ease-in-out, height 600ms ease-in-out;
}

nav ul li {
    margin-left: unset;
    padding: 3rem 0rem;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color: var(--accent-color10);
    letter-spacing: 1px;
    font-weight: 200;
}

nav ul li a:hover {
    padding: 0.5125rem 0rem;
    transition: padding 300ms ease-in-out;
    border-bottom: 2px solid var(--accent-color10);
}

.active {
    font-weight: 600;
    padding: 0.5125rem 0rem;
    border-bottom: 2px solid var(--accent-color10);
}

nav.main div.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: var(--accent-color10);
}

nav.main div.logo span {
    display: none;
}

div.logo img.thelogo {
    max-width: 50px;
}

/* Tablet: 571px and up */
@media only screen and (min-width: 571px) {
    div.wrapper {
        flex-direction: row;
        width: 100%;
    }

    div.wrapper i {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        padding: 3rem 0rem;
    }

    nav.main div.logo span {
        display: block;
        margin: 0.8rem 0rem;
        font-size: 1rem;
    }
}

/* Desktop: 769px and up */
@media only screen and (min-width: 769px) {
    div.wrapper {
        width: 1200px;
    }

    div.wrapper i {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        height: auto;
        width: auto;
    }

    nav ul li {
        margin-left: 6.25rem;
        padding: 0;
    }

    nav.main div.logo span {
        display: block;
    }
}