nav {
    padding: 1.3rem;
    background-color: var(--section-background-color60);
    transform: translateY(-100%);
    transition: transform 1400ms;
}
    
div.navbar .shape-fill {
    fill: var(--section-background-color60);
}

div.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

div.wrapper i {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 6.25rem;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color: var(--accent-color10);
    letter-spacing: 1px;
    font-weight: 200;
}

nav ul li a:hover {
    padding: 0.5125rem 0rem;
    transition: padding 300ms ease-in-out;
    border-bottom: 2px solid var(--accent-color10);
}

.active {
    font-weight: 600;
    padding: 0.5125rem 0rem;
    border-bottom: 2px solid var(--accent-color10);
    position: relative;
    left: -20px;
    transition: left 1400ms;
}

/* Mobile */
@media only screen and (max-width: 570px) {

    div.wrapper {
        flex-direction: row;
        width: 100%;
    }

    div.logo img.thelogo {
        max-width: 50px;
    }

    div.wrapper i {
        color: var(--accent-color10);
        display: block;
    }

    div.wrapper a {
        text-decoration: none;
    }

    nav ul.hide {
        /* position: absolute; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        background-color: var(--section-background-color60);
        width: 100vw;
        height: 85vh;
        /* top: 85px; */
        /* right: 0; */
        z-index: 1;
        transition: display 600s ease-in-out, height 600ms ease-in-out;
    }

    nav ul li {
        margin-left: unset;
        padding: 3rem 0rem;
       
    }
}

/* Tablet */
@media only screen and (max-width: 768px){

    div.wrapper i {
        color: var(--accent-color10);
        display: block;
    }

    div.wrapper a {
        text-decoration: none;
    }

    div.wrapper {
        flex-direction: row;
        width: 100%;
    }

    nav ul.hide {
        /* position: absolute; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
        background-color: var(--section-background-color60);
        width: 100vw;
        height: 85vh;
        /* top: 85px; */
        /* right: 0; */
        z-index: 1;
        transition: display 600s ease-in-out, height 600ms ease-in-out;
    }

    nav ul li {
        margin-left: unset;
        padding: 3rem 0rem;
       
    } 
}