section.portfolio {
    /* background-color: var(--section-background-color30); */
    background: rgb(2,44,58);
    background: -moz-linear-gradient(203deg, rgba(2,44,58,1) 0%, rgba(6,121,160,1) 100%);
    background: -webkit-linear-gradient(203deg, rgba(2,44,58,1) 0%, rgba(6,121,160,1) 100%);
    background: linear-gradient(203deg, rgba(2,44,58,1) 0%, rgba(6,121,160,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#022c3a",endColorstr="#0679a0",GradientType=1); 
}

section.portfolio h2 {
    text-align: center;
    padding-top: 6rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

section.portfolio div.container {
    display: flex;
    flex-wrap: wrap;
}

section.portfolio div.container picture {
    max-width: 400px;
    max-height: 770px;
    overflow: hidden;
    padding: 3rem 1.875rem 0rem;
}

section.portfolio div.container picture img {
    max-width: 100%;
    border-radius: 1rem;
}

section.portfolio div.container picture:nth-last-of-type(2) img {
    margin-top: 2.625rem;
}

section.portfolio div.container picture:nth-last-of-type(1) img {
    margin-top: 5.25rem;
}


/* Portfolio details*/
section.portfolio-details {
    background-color: white;
    margin: 13rem 0rem;
    color: var(--accent-color10);
}

section.portfolio-details div.container {
    display: flex;
    gap: 4rem;
    align-items: center;
} 

section.portfolio-details div.description h3{
    padding-bottom: 2rem;
}

section.portfolio-details div.description p {
    line-height: 1.7;
    margin: 1rem 0rem;
}

section.portfolio-details div.description a {
    color: var(--accent-color10);
    text-decoration: none;
    border-bottom: 2px solid var(--accent-color10);
}

section.portfolio-details div.tags ul {
    display: flex;
}

section.portfolio-details div.tags ul li {
    list-style: none;
    background-color: var(--tags-background-color);
    color: var(--tags-color);
    padding: 1rem;
    margin: 0.7rem;
    border-radius: 0.2rem;
}

/* Mobile */
@media only screen and (max-width: 570px) {

    section.portfolio h2 {
        padding-top: 3rem;
        font-weight: 100;
        letter-spacing: unset;
    }

    section.portfolio div.container picture {
        max-height: fit-content;
    }

    section.portfolio div.container {
       display: flex;
    }

    section.portfolio div.container picture:nth-last-of-type(2) img {
        margin-top: unset;
    }

    section.portfolio div.container picture:nth-last-of-type(1) img {
        margin-top: unset;
        margin-bottom: 3rem;
    }
    
    section.portfolio-details div.container {
        flex-direction: column-reverse;
        margin: 0rem 2rem;
        text-align: center;
    }

    section.portfolio-details { 
        margin: 7rem 0rem;
    }

    section.portfolio-details div.description {
        margin: 0.9375rem;
    }
}

/* Tablet */
@media only screen and (max-width: 768px) { 
    section.portfolio-details div.container {
        flex-direction: column;
        margin: 0rem 2rem;
        text-align: center;
    }

    section.portfolio div.container picture {
        max-width: 370px;
    }

    section.portfolio div.container picture:nth-last-of-type(1) img {
        margin-top: unset;
        margin-bottom: 3rem;
      }
}