*   {
        box-sizing: border-box;
    }
section.portfolio {
    /*background-color: var(--section-background-color30);*/
    background-position: center;
    background: rgb(2,44,58);
    background: -moz-linear-gradient(203deg, rgba(2,44,58,1) 0%, rgba(6,121,160,1) 100%);
    background: -webkit-linear-gradient(203deg, rgba(2,44,58,1) 0%, rgba(6,121,160,1) 100%);
    background: linear-gradient(203deg, rgba(2,44,58,1) 0%, rgba(6,121,160,1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#022c3a",endColorstr="#0679a0",GradientType=1);
    -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#022c3a",endColorstr="#0679a0",GradientType=1);
}
section.portfolio h2 {
    text-align: center;
    color: var(--section-background-color60);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 4rem 0rem;
}

section.porfolio, #wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    /* padding: 10rem 0rem; */
    width: 100%;
}

section.portfolio #wrapper .arrowPrev {
  rotate: 180deg;
}
section.portfolio, .arrowNext, .arrowPrev {
    cursor: pointer;
}

section.portfolio #wrapper #carousel {
   width: 1200px;
   height: 500px;
   overflow: hidden;
}

section.portfolio #wrapper #carousel .carousel-container {
    width: 2400px;
    display: flex;
    justify-content: space-around;
    transition: transform 0.5s ease;
}

section.portfolio #wrapper #carousel .carousel-container .slider {
    display: flex;
    gap: 2rem;
    width: 1200px;
    /* flex-shrink: 0; */
}

section.portfolio picture {
    width: 400px;
    height: auto;
    display: block;
    cursor: pointer;
}
section.portfolio picture img {
    width: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}


/* Portfolio details*/
section.portfolio-details {
    background-color: white;
    margin: 13rem 0rem;
    color: var(--accent-color10);
}

section.portfolio-details h2  {
    color: var(--accent-color10);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

section.portfolio-details div.wrapper div.container {
    display: flex;
    gap: 4rem;
    align-items: center;
    flex-direction: column;
    transition: transform 0.5s ease;
}

section.portfolio-details div.wrapper .carousel {
    overflow: hidden;
    height: 400px;
}

section.portfolio-details div.wrapper .carousel div.container  div.track {
    display: flex;
    align-items: center;
    gap: 4rem;
    flex-direction: row-reverse;
    /* border: 1px solid green; */
}


section.portfolio-details div.description h3{
    padding-bottom: 2rem;
}

section.portfolio-details div.description p {
    line-height: 1.7;
    margin: 1rem 0rem;
}

section.portfolio-details div.description a {
    color: white;
    border-radius: 0.8rem;
    background: rgb(2,44,58);
    background: -moz-linear-gradient(203deg, rgba(2,44,58,0.7357143541010154) 0%, rgba(6,121,160,1) 100%);
    background: -webkit-linear-gradient(203deg, rgba(2,44,58,0.7357143541010154) 0%, rgba(6,121,160,1) 100%);
    background: linear-gradient(203deg, rgba(2,44,58,0.7357143541010154) 0%, rgba(6,121,160,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#022c3a",endColorstr="#0679a0",GradientType=1); 
    border: unset;
    text-decoration: none;
    padding: 2rem 4rem;
    display: inline-block;
    margin: 3rem 0rem;
    text-transform: uppercase;
}

section.portfolio-details div.tags ul {
    display: flex;
}

section.portfolio-details div.tags ul li {
    list-style: none;
    background-color: var(--tags-background-color);
    color: var(--tags-color);
    padding: 1rem;
    margin: 0.7rem;
    border-radius: 0.2rem;
}

/* Mobile */
@media only screen and (max-width: 570px) {

    section.portfolio h2 {
        padding-top: 3rem;
        font-weight: 100;
        letter-spacing: unset;
    }

    section.porfolio, #wrapper {
        gap: 2rem;
      
    }

    section.portfolio div.container picture {
        max-height: fit-content;
        max-width: 390px;
    }

    section.portfolio div.container {
       display: flex;
       max-width: 100%;
       justify-content: center;
    }

    section.portfolio #wrapper #carousel {
        max-width: 230px;
    }

    section.portfolio #wrapper #carousel .carousel-container .slider {
        flex-direction: column;
    }

    section.portfolio picture {
        max-width: 210px;
    }

    section.portfolio div.container picture:nth-last-of-type(2) img {
        margin-top: unset;
        
    }

    section.portfolio div.container picture:nth-last-of-type(1) img {
        margin-top: unset;
        margin-bottom: 3rem;
    }
    
    section.portfolio-details div.container {
        flex-direction: column-reverse;
        margin: 0rem 2rem;
        text-align: center;
    }

    section.portfolio-details { 
        margin: 7rem 0rem;
    }
    section.portfolio-details div.wrapper .carousel {
        height: 600px;
        border: 1px solid red;
    }

    section.portfolio-details div.wrapper .carousel div.container  div.track {
        flex-direction: column-reverse;
        gap: unset;
        border: 2px solid green;
    }
    section.portfolio-details div.description {
        margin: 0.9375rem;
    }

    section.portfolio-details div.description a {
        padding: 1rem 4rem;
    }
}

/* Tablet */
@media only screen and (max-width: 768px) { 
    section.portfolio-details div.container {
        flex-direction: column;
        margin: 0rem 2rem;
        text-align: center;
        flex-direction: column-reverse;
        gap: 0rem;
    }


    section.portfolio div.container picture:nth-last-of-type(1) img {
        margin-top: unset;
        margin-bottom: 3rem;
      }
}